@{
    ViewBag.Title = "Home Page";
}

@{
    var optionsPost = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "containerForError"
    };

    var optionsGet = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.InsertBefore,
        UpdateTargetId = "containerForError"
    };
}
 

@Ajax.ActionLink("Click me!", "About", optionsPost)
<div id="containerForError">

</div>