@{
    ViewBag.Title = "Home Page";
}

@{
    var optionsPost = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "containerForError"
    };

    var optionsGet = new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.InsertBefore,
        UpdateTargetId = "container"
    };
}
 

@Ajax.ActionLink("Click me!", "About", optionsGet)
<div id="container">

</div>

<div id="errorMessage" class="alert alert-danger fade in" role="alert">

</div>
